:root {
  --the-tom-woods-show: #1c9bc7;
  --tucker-carlson: #b91414;
  --the-art-of-manliness-podcast: #901f00;
  --the-joe-rogan-experience: #ef5e22;
  --tin-foil-hat-with-sam-tripoli: #000000;
  --the-bob-murphy-show: #e336d8;
  --pbd-podcast: #ea2127;
  --rfk-jr-podcast: #2b2c78;
}

.the-tom-woods-show a {
  color: var(--the-tom-woods-show);
}

button.the-tom-woods-show {
  color: var(--the-tom-woods-show);
  border: 2px solid var(--the-tom-woods-show);
}

button.selected.the-tom-woods-show {
  background-color: var(--the-tom-woods-show);
  color: #fff;
}

.tucker-carlson a {
  color: var(--tucker-carlson);
}

button.tucker-carlson {
  color: var(--tucker-carlson);
  border: 2px solid var(--tucker-carlson);
}

button.selected.tucker-carlson {
  background-color: var(--tucker-carlson);
  color: #fff;
}

.the-art-of-manliness-podcast a {
  color: var(--the-art-of-manliness-podcast);
}

button.the-art-of-manliness-podcast {
  color: var(--the-art-of-manliness-podcast);
  border: 2px solid var(--the-art-of-manliness-podcast);
}

button.selected.the-art-of-manliness-podcast {
  background-color: var(--the-art-of-manliness-podcast);
  color: #fff;
}

.the-joe-rogan-experience a {
  color: var(--the-joe-rogan-experience);
}

button.the-joe-rogan-experience {
  color: var(--the-joe-rogan-experience);
  border: 2px solid var(--the-joe-rogan-experience);
}

button.selected.the-joe-rogan-experience {
  background-color: var(--the-joe-rogan-experience);
  color: #fff;
}

.tin-foil-hat-with-sam-tripoli a {
  color: var(--tin-foil-hat-with-sam-tripoli);
}

button.tin-foil-hat-with-sam-tripoli {
  color: var(--tin-foil-hat-with-sam-tripoli);
  border: 2px solid var(--tin-foil-hat-with-sam-tripoli);
}

button.selected.tin-foil-hat-with-sam-tripoli {
  background-color: var(--tin-foil-hat-with-sam-tripoli);
  color: #fff;
}

.the-bob-murphy-show a {
  color: var(--the-bob-murphy-show);
}

button.the-bob-murphy-show {
  color: var(--the-bob-murphy-show);
  border: 2px solid var(--the-bob-murphy-show);
}

button.selected.the-bob-murphy-show {
  background-color: var(--the-bob-murphy-show);
}

.pbd-podcast a {
  color: var(--pbd-podcast);
}

button.pbd-podcast {
  color: var(--pbd-podcast);
  border: 2px solid var(--pbd-podcast);
}

button.selected.pbd-podcast {
  background-color: var(--pbd-podcast);
  color: #fff;
}

.rfk-jr-podcast a {
  color: var(--rfk-jr-podcast);
}

button.rfk-jr-podcast {
  color: var(--rfk-jr-podcast);
  border: 2px solid var(--rfk-jr-podcast);
}

button.selected.rfk-jr-podcast {
  background-color: var(--rfk-jr-podcast);
  color: #fff;
}
