:root {
  --the-tom-woods-show: #1c9bc7;
  --tucker-carlson: #b91414;
  --the-art-of-manliness-podcast: #901f00;
  --the-joe-rogan-experience: #ef5e22;
  --tin-foil-hat-with-sam-tripoli: #333333;
  --the-bob-murphy-show: #e336d8;
  --pbd-podcast: #ea2127;
  --rfk-jr-podcast: #2b2c78;
  --the-martyr-made-podcast: rgb(196, 52, 50);
  --jocko-podcast: #55d737;
  --candace: #f8d2f6;
  --part-of-the-problem: #000000;
  --the-dangerous-history-podcast: #c4ac0f;
  --what-bitcoin-did: #ff0569;
  --the-martyrmade-podcast: rgb(196, 52, 50);
  --the-duncan-trussell-family-hour: rgb(62, 8, 109);
  --aubrey-marcus-podcast: rgb(46, 153, 107);
  --the-pete-quinones-show: rgb(102, 102, 102);
  --the-mark-titus-show: #ba0c2f;
  --the-vivek-show: #0d223f;
  --modern-wisdom: rgb(42, 197, 197);
  --your-welcome-with-michael-malice: rgb(186, 42, 42);
  --mike-force: #3b3a36;
  --the-glenn-beck-program: rgb(183, 155, 80);
  --lex-fridman-podcast: rgba(18, 18, 18, 0.75);
  --security-cryptography-whatever: rgb(105, 92, 255);
}

.PodcastCard {
  color: white;
  background-color: var(--blue);
}

.the-tom-woods-show.PodcastCard {
  background-color: var(--the-tom-woods-show);
}

button.the-tom-woods-show {
  color: var(--the-tom-woods-show);
  border: 2px solid var(--the-tom-woods-show);
}

button.selected.the-tom-woods-show {
  background-color: var(--the-tom-woods-show);
  color: #fff;
}

.tucker-carlson.PodcastCard {
  background-color: var(--tucker-carlson);
}

button.tucker-carlson {
  color: var(--tucker-carlson);
  border: 2px solid var(--tucker-carlson);
}

button.selected.tucker-carlson {
  background-color: var(--tucker-carlson);
  color: #fff;
}

.the-art-of-manliness-podcast.PodcastCard {
  background-color: var(--the-art-of-manliness-podcast);
}

button.the-art-of-manliness-podcast {
  color: var(--the-art-of-manliness-podcast);
  border: 2px solid var(--the-art-of-manliness-podcast);
}

button.selected.the-art-of-manliness-podcast {
  background-color: var(--the-art-of-manliness-podcast);
  color: #fff;
}

.the-joe-rogan-experience.PodcastCard {
  background-color: var(--the-joe-rogan-experience);
}

button.the-joe-rogan-experience {
  color: var(--the-joe-rogan-experience);
  border: 2px solid var(--the-joe-rogan-experience);
}

button.selected.the-joe-rogan-experience {
  background-color: var(--the-joe-rogan-experience);
  color: #fff;
}

.tin-foil-hat-with-sam-tripoli.PodcastCard {
  background-color: var(--tin-foil-hat-with-sam-tripoli);
}

button.tin-foil-hat-with-sam-tripoli {
  color: var(--tin-foil-hat-with-sam-tripoli);
  border: 2px solid var(--tin-foil-hat-with-sam-tripoli);
}

button.selected.tin-foil-hat-with-sam-tripoli {
  background-color: var(--tin-foil-hat-with-sam-tripoli);
  color: #fff;
}

.the-bob-murphy-show.PodcastCard {
  background-color: var(--the-bob-murphy-show);
}

button.the-bob-murphy-show {
  color: var(--the-bob-murphy-show);
  border: 2px solid var(--the-bob-murphy-show);
}

button.selected.the-bob-murphy-show {
  background-color: var(--the-bob-murphy-show);
}

.pbd-podcast.PodcastCard {
  background-color: var(--pbd-podcast);
}

button.pbd-podcast {
  color: var(--pbd-podcast);
  border: 2px solid var(--pbd-podcast);
}

button.selected.pbd-podcast {
  background-color: var(--pbd-podcast);
  color: #fff;
}

.rfk-jr-podcast.PodcastCard {
  background-color: var(--rfk-jr-podcast);
}

button.rfk-jr-podcast {
  color: var(--rfk-jr-podcast);
  border: 2px solid var(--rfk-jr-podcast);
}

button.selected.rfk-jr-podcast {
  background-color: var(--rfk-jr-podcast);
  color: #fff;
}

.the-martyr-made-podcast.PodcastCard {
  background-color: var(--the-martyr-made-podcast);
}

button.the-martyr-made-podcast {
  color: var(--the-martyr-made-podcast);
  border: 2px solid var(--the-martyr-made-podcast);
}

button.selected.the-martyr-made-podcast {
  background-color: var(--the-martyr-made-podcast);
  color: #fff;
}

.jocko-podcast.PodcastCard {
  background-color: var(--jocko-podcast);
}

button.jocko-podcast {
  color: var(--jocko-podcast);
  border: 2px solid var(--jocko-podcast);
}

button.selected.jocko-podcast {
  background-color: var(--jocko-podcast);
  color: #fff;
}

.candace.PodcastCard {
  background-color: var(--candace);
}

button.candace {
  color: var(--candace);
  border: 2px solid var(--candace);
}

button.selected.candace {
  background-color: var(--candace);
  color: #fff;
}

.part-of-the-problem.PodcastCard {
  background-color: var(--part-of-the-problem);
}

button.part-of-the-problem {
  color: var(--part-of-the-problem);
  border: 2px solid var(--part-of-the-problem);
}

button.selected.part-of-the-problem {
  background-color: var(--part-of-the-problem);
  color: #fff;
}

.the-dangerous-history-podcast.PodcastCard {
  background-color: var(--the-dangerous-history-podcast);
}

button.the-dangerous-history-podcast {
  color: var(--the-dangerous-history-podcast);
  border: 2px solid var(--the-dangerous-history-podcast);
}

button.selected.the-dangerous-history-podcast {
  background-color: var(--the-dangerous-history-podcast);
  color: #fff;
}

.what-bitcoin-did.PodcastCard {
  background-color: var(--what-bitcoin-did);
}

button.what-bitcoin-did {
  color: var(--what-bitcoin-did);
  border: 2px solid var(--what-bitcoin-did);
}

button.selected.what-bitcoin-did {
  background-color: var(--what-bitcoin-did);
  color: #fff;
}

.the-martyrmade-podcast.PodcastCard {
  background-color: var(--the-martyrmade-podcast);
}

button.the-martyrmade-podcast {
  color: var(--the-martyrmade-podcast);
  border: 2px solid var(--the-martyrmade-podcast);
}

button.selected.the-martyrmade-podcast {
  background-color: var(--the-martyrmade-podcast);
  color: #fff;
}

.the-duncan-trussell-family-hour.PodcastCard {
  background-color: var(--the-duncan-trussell-family-hour);
}

button.the-duncan-trussell-family-hour {
  color: var(--the-duncan-trussell-family-hour);
  border: 2px solid var(--the-duncan-trussell-family-hour);
}

button.selected.the-duncan-trussell-family-hour {
  background-color: var(--the-duncan-trussell-family-hour);
  color: #fff;
}

.aubrey-marcus-podcast.PodcastCard {
  background-color: var(--aubrey-marcus-podcast);
}

button.aubrey-marcus-podcast {
  color: var(--aubrey-marcus-podcast);
  border: 2px solid var(--aubrey-marcus-podcast);
}

button.selected.aubrey-marcus-podcast {
  background-color: var(--aubrey-marcus-podcast);
  color: #fff;
}

.the-pete-quinones-show.PodcastCard {
  background-color: var(--the-pete-quinones-show);
}

button.the-pete-quinones-show {
  color: var(--the-pete-quinones-show);
  border: 2px solid var(--the-pete-quinones-show);
}

button.selected.the-pete-quinones-show {
  background-color: var(--the-pete-quinones-show);
  color: #fff;
}

.the-mark-titus-show.PodcastCard {
  background-color: var(--the-mark-titus-show);
}

button.the-mark-titus-show {
  color: var(--the-mark-titus-show);
  border: 2px solid var(--the-mark-titus-show);
}

button.selected.the-mark-titus-show {
  background-color: var(--the-mark-titus-show);
  color: #fff;
}

.the-vivek-show.PodcastCard {
  background-color: var(--the-vivek-show);
}

button.the-vivek-show {
  color: var(--the-vivek-show);
  border: 2px solid var(--the-vivek-show);
}

button.selected.the-vivek-show {
  background-color: var(--the-vivek-show);
  color: #fff;
}

.modern-wisdom.PodcastCard {
  background-color: var(--modern-wisdom);
}

button.modern-wisdom {
  color: var(--modern-wisdom);
  border: 2px solid var(--modern-wisdom);
}

button.selected.modern-wisdom {
  background-color: var(--modern-wisdom);
  color: #fff;
}

.your-welcome-with-michael-malice.PodcastCard {
  background-color: var(--your-welcome-with-michael-malice);
}

button.your-welcome-with-michael-malice {
  color: var(--your-welcome-with-michael-malice);
  border: 2px solid var(--your-welcome-with-michael-malice);
}

button.selected.your-welcome-with-michael-malice {
  background-color: var(--your-welcome-with-michael-malice);
  color: #fff;
}

.mike-force.PodcastCard {
  background-color: var(--mike-force);
}

button.mike-force {
  color: var(--mike-force);
  border: 2px solid var(--mike-force);
}

button.selected.mike-force {
  background-color: var(--mike-force);
  color: #fff;
}

.the-glenn-beck-program.PodcastCard {
  background-color: var(--the-glenn-beck-program);
}

button.the-glenn-beck-program {
  color: var(--the-glenn-beck-program);
  border: 2px solid var(--the-glenn-beck-program);
}

button.selected.the-glenn-beck-program {
  background-color: var(--the-glenn-beck-program);
  color: #fff;
}

.lex-fridman-podcast.PodcastCard {
  background-color: var(--lex-fridman-podcast);
}

button.lex-fridman-podcast {
  color: var(--lex-fridman-podcast);
  border: 2px solid var(--lex-fridman-podcast);
}

button.selected.lex-fridman-podcast {
  background-color: var(--lex-fridman-podcast);
  color: #fff;
}

.security-cryptography-whatever.PodcastCard {
  background-color: var(--security-cryptography-whatever);
}

button.security-cryptography-whatever {
  color: var(--security-cryptography-whatever);
  border: 2px solid var(--security-cryptography-whatever);
}

button.selected.security-cryptography-whatever {
  background-color: var(--security-cryptography-whatever);
  color: #fff;
}
