* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: rgba(0, 0, 238);
}

.container {
  width: 100%;
  max-width: 100vw;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

/* Undo List Styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* button */
button {
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 4px;
  color: var(--blue);
  font-weight: bold;
  padding: 0.333rem 0.5rem;
}

button.selected {
  background-color: var(--blue);
  color: #fff;
}

/* Links */
a {
  text-decoration: none;
}

/* PodcastCard */
.PodcastCard {
  margin-bottom: 2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.3rem;
  line-height: 1.2;
}

.podcast {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.date {
  font-size: 0.875rem;
}

/* ShowFilter */

.ShowFilter {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 7px 7px;
  flex-flow: wrap;
}
